@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Rubik';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar {
    height: 100vh;
    position: fixed;
    padding: 30px;
    border-right: #bfb9b9 1px solid;
}
.clicked{
    color: #0066FF;   
}

.scrollbar {
    margin-left: auto;
}
.logo {
    width: 100%;
}
.logocont {
    width: 200px;
}
.m {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    margin-left: 20px;
}
.mm {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    margin-left: 20px;
}
.ic {
    width: 100%;
    cursor: pointer;
    
}
.icon {
    width: 1.5vw;
    cursor: pointer;   
}
a{
text-decoration: none;
color:black;
}
.icon {
    color: #0066FF;
}

.load {
    padding: 20px;
    height: 21%;
}
.loadd {
    padding: 20px;
    height: 14%;
}
.loaddd {
    padding: 20px;
    height: 6%;
}
.not {
    position: relative;
    left: 40px;
    bottom: 24px;
    white-space: nowrap;
}
.line {
    height: 1px;
    width: 90%;
    margin-left: 15px;
    margin-top: 75px;
}
.linee {
    height: 1px;
    width: 100%;
    margin-left: 15px;
}
.t {
    margin-top: 60px;
}
.name {
    font-size: 39px;
    font-weight: 600;
}
.emoji {
    width: 100%;
}
.emojil {
    width: 41px;
    position: relative;
    left: 195px;
    bottom: 47px;
}
.mim {
    width: 336px;
}
.mi{
    width:100%;
}
.arrow {
    width: 81px;
    position: relative;
    left: 413px;
    bottom: 200px;
}
.detail {
    position: relative;
    width: 419px;
    padding: 148px;
    height: 373px;
    left: 564px;
    background-color: aliceblue;
    text-align: center;
    bottom: 418px;
    border: 2px #d2cece solid;
}
.metadata{

}
input[type="file"]{
    display:none;
}
.push {
    display: inline-block;
    cursor: pointer;
    background-color: #0066FF;
    width: 81px;
    color: white;
    height: 28px;
    font-size: 12px;
    border-radius: 7px;
    position: relative;
    padding: 5px;
    text-align: center;
    bottom: 119px;
    left: 125px;
}
.search {
    position: relative;
    bottom: 362px;
    left: 597px;
    background-color: #F3F8FF;
    border: 0px;
    border-radius: 3px;
    width: 341px;
    height: 34px;
}
.recent {
    font-size: 35px;
    font-weight: 600;
    position: relative;
    bottom: 289px;
}
.filespace {
    background-color: #F3F8FF;
    width: 90%;
    position: relative;
    height: 80vh;
    font-size: 23px;
    padding: 40px;
    font-weight: 200;
    bottom: 237px;
    text-align: center;
}
.help {
    font-size: 48px;
    font-weight: 600;
    margin-left: 80px;
    margin-top: 5vh;
}
.freq {
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 80px;
    font-weight: 600;
}
.types {
    background-color: #e7e9eb;
    border-radius: 6px;
    width: 80%;
    margin-left: 80px;
    
}
.answer{
    padding-left: 80px;
    padding-right: 23px;
    background-color: #F6F9FF;
    font-size: x-large;
    max-height: 0;
    overflow: hidden;
}
.answer p{
    padding-top: 23px;
    padding-bottom: 23px;
}
.close-drop-down{
    display: none;
}
.close{
    display: none;
}
.open{
display: block;
}
.dami {
    font-size: 30px;
    padding-top: 20px;
    margin: 30px;
    margin-left: 80px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    
}
.open-answer{
   max-height: 20rem; 
}

.files{
    padding: 2rem;
    margin: 0 auto;
}

.file-search{
    border-radius: 8px;
    height: 6vh;
    width: 25vw;
    margin-left: 52vw;
    padding-left: 2.5rem;
    margin-bottom: 9vh;
    border: none;
    background-color: #F3F8FF;;

}
.view-sort{
    display: flex;
    width: 8vw;
    justify-content: space-between;
    margin-left:69vw ;

}
.view-sort span{
    padding-left: 15px;
}

.file-one {
  grid-area:one;
 

}
.file-two {
  grid-area: two;
 
}
.file-three{
   grid-area:three;
}
.file-four {
   grid-area:four;
}
.file-five {
   grid-area:five;
}
.file-six{
   grid-area:six
}
.files-container{
    width: 80%;
  display: grid;
  grid-template-areas: 'one two three' 
                       'four five six'
                       ;
  grid-gap: 15px;
  margin: 4vw 4vh;
}
.size{
    width: 27vw;
}
.size h3{
    padding-top: 3vh;
}
.file-button{
display: flex;
justify-content: space-between;
width: 19vw;
margin-bottom: 10vh;
}

.file-button button{
border: none;
border-radius: 5px;
background-color: #0066FF;
width: 8.5vw;
height: 6vh;
color: #e7e9eb;
}
.size img{
    width: 19vw;
}
.head{
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    margin-right: 4vw;
}
#activity{
    margin-top: 9vh;
    padding-bottom: 15vh;
    height: fit-content;
}
.tag h1{
    font-size: 3rem;
    margin: 2vh 4vw;
}
img.search-bar{
    position: relative;
    left: 40px;
}
input#search{
    margin-bottom: 7vh;
    width: 500px;
    height: 40px;
    padding-inline-start: 3vw;
    background: #F3F8FF;
    border: none;
    border-color: #F3F8FF;
    border-radius: 8px;
}
.sort{
    display: flex;
    gap: 1%;
    justify-content: flex-end;
    margin-right: 4vw;
}
.sort p{
    font-size: 18px;
    color:  #565F6C;
    padding-top: 2vh;
}
td.hr{
    padding: 0%;
}
tr.header{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color:  #565F6C;
}
.tableRows{
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #2B3748;
}
.format{
    display: flex;
    gap: 10px;
    margin-top: 0%;
    padding: 0%;
    margin-bottom: 1%;
}
table{
    width: 80%;
    border-collapse: collapse;
    border-style: none;
    border: hidden;
}
.table-container{
      padding-left: 4vw;
      width: 78vw;
}
th,
td {
    border: 1px solid white;
    /* border-collapse: collapse; */
    padding: 10px;
    text-align: left;
}

td {
    text-align: left;

}
tr{
    margin-top: 5em;
    

}