################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/proj_fetch-metadata_team_81/v17/Browse.VC.opendb
