<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Logout</title>
 <link rel="stylesheet" href="logout.css">
</head>
<body>
 <img src="/proj_fetch_metadata_team_81/images/Logo.svg" alt="">
 <h1 class="logout-header">You are now <span class="h1">logged out.</span></h1>
 <div class="logout-container">
  <button class="login-btn logout-btn">Log in</button>
  <button class="go-back-home-btn logout-btn">Go back home</button>
  <img class="logout-img"src="/proj_fetch_metadata_team_81/images/cuate.png" alt="">
 </div>
 
</body>
</html>