@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

body{
 width: 99%;
 font-family: "Rubik";
}
.metadata-container{
 margin: auto;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.metadata-container th{
 font-size: xx-large;
 padding: 2vh 2vw;

}
.metadata-container td{
 font-size: xx-large;
 padding: 1vh 3vw 1vh 4vw;

}

.metadata-table{
    font-size: xx-large;
    width: 100%;
    
}
.metadata-table tr:nth-child(even) {
    background-color: #FAFAFA;
}
@media only screen and (max-width: 768px) {
.body{
    width: 100%;
     }
 .metadata-container{
 margin: auto;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 2vh 2vw;
}
.metadata-table{
    font-size: medium;
    width: 95%;
}
.metadata-container th{
 font-size: xx-large;
 padding: 2vh 2vw;
}
.metadata-container td{
 font-size: large;
 padding: 1vh 2vw;

}

}
@media (min-width: 768px) and (max-width: 1024px) {
 .body{
    width: 100%;
     }
 .metadata-container{
 margin: auto;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 2vh 2vw;
}
.metadata-table{
    font-size: medium;
    width: 95%;
}
.metadata-container th{
 font-size: xx-large;
 padding: 2vh 2vw;
}
.metadata-container td{
 font-size: x-large;
 padding: 1vh 2vw 1vh 5vh;

}

 
  
}
