@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

html, body {
    width: 100vw;
    height: 90vh;
    font-family: 'Rubik';
    margin: 0;
    overflow-x:hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dashboard-container{
    padding-left: 4vh;
}
.sidebar {
    height: 100vh;
    position: fixed;
    padding: 30px;
    border-right: #bfb9b9 1px solid;
    /* margin-left: 30px; */
}
.clicked{
    color: #0066FF;   
}

.scrollbar {
    margin-left: 17vw;
    overflow-x: scroll;
    height: 100vh;
}
.logo {
    width: 100%;
}
.logocont {
    width: 161px;
    margin: auto;
}
.m {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    margin-left: 20px; 
}
.mm {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    margin-left: 20px;
}
.ic {
    width: 100%;
    cursor: pointer;
    /* margin-left: -30px; */
    
}
.icon {
    width: 1.5vw;
    cursor: pointer;   
}
a{
text-decoration: none;
color:black;
}
.icon {
    color: #0066FF;
}

.load {
    padding: 20px;
    height: 21%;
}
.loadd {
    padding: 20px;
    height: 14%;
}
.loaddd {
    padding: 20px;
    height: 6%;
}
.not {
    position: relative;
    left: 40px;
    bottom: 24px;
    white-space: nowrap;
}
.line {
    height: 1px;
    width: 100%;
    margin-left: 15px;
    margin-top: 75px;
}
.linee {
    height: 1px;
    width: 100%;
    margin-left: 15px;
}
.t {
    margin-top: 60px;
}
.name {
    font-size: 39px;
    font-weight: 600;
}
.emoji {
    width: 100%;
}
.emojil {
    width: 41px;
    position: relative;
    left: 195px;
    bottom: 47px;
}
.mim {
    width: 340px;
    
}
.mi{
    width:110%;
}
.arrow {
    width: 81px;
    position: relative;
    left: 503px;
    bottom: 260px;
}

.scrollbar {
    overflow-x: hidden;
}

.dashboard-content {
    margin-left: -100;
}

.detail {
    position: relative;
    margin: 0;
    width: 500px;
    padding: 20px 20px;
    height: 400px;
    left: 650px;
    background-color: aliceblue;
    text-align: center;
    bottom: 510px;
    border: 2px #d2cece solid;
    overflow-y: scroll;
    overflow-x: hidden;
}

.metadata td{
    width: 100%;
    
    }


.push {
    cursor: pointer;
    background-color: #0066FF;
    width: 100px;
    color: white;
    height: 28px;
    font-size: 12px;
    border-radius: 7px;
    position: relative;
    padding: 5px;
    text-align: center;
    bottom: 135px;
    left: 88px;
}

#analyse_buttons {
    display: flex;
    margin-top: -30px;
}

#upload{
    background-color: #0066FF;
    width: 200px;
    height: 35px;
    justify-content: center;
    margin-top: -0px;
}


#analyse {
    border: none;
    height: 35px;
}

#save {
    border: none;
    margin-top: 10px;
    height: 35px;
    margin-left: -30px;
    margin-right: 50px;

}

.search {
    position: relative;
    bottom: 423px;
    left: 650px;
    background-color: #F3F8FF;
    border: 0px;
    border-radius: 7px;
    width: 500px;
    height: 44px;
    padding-left: 54px;
}
.recent {
    font-size: 35px;
    font-weight: 600;
    position: relative;
    bottom: 400px;
}
.filespace {
    background-color: #F3F8FF;
    width: 95%;
    position: relative;
    height: 40vh;
    font-size: 23px;
    padding: 40px;
    font-weight: 200;
    bottom: 297px;
    text-align: center;
}
.help {
    font-size: 48px;
    font-weight: 600;
    /* padding-left: 10vw; */
    margin-top: 5vh;
    /* margin-left: 270px; */
    width: 100vw;
    margin-left: 40px;
}

.freq {
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 50px;
    font-weight: 600;
}
.types {
    background-color: #e7e9eb;
    border-radius: 6px;
    width: 75%;
    
    
}
.answer{
    padding-left: 0px;
    padding-right: 23px;
    background-color: #F6F9FF;
    font-size: 1.4rem;
    font-weight: lighter;
    max-height: 0;
    overflow: hidden;
}
.answer p{
    padding-top: 23px;
    padding-bottom: 23px;
    font-weight: medium;
}
.close-drop-down{
    display: none;
}
.close{
    display: none;
}
.open{
display: block;
}
.dami {
    font-size: 30px;
    padding-top: 20px;
    margin: 30px;
    margin-left: 80px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    
}
.open-answer{
   max-height: 20rem; 
}

.files{
    padding: 2vh 2vw;
    margin: 0 auto;
}

.file-search{
    border-radius: 8px;
    height: 6vh;
    width: 25vw;
    margin-left: 51vw;
    margin-bottom: 9vh;
    padding-left: 20px;
    border: none;
    background-color: #F3F8FF;;
    background-image: url('./dashimg/search.svg');
}
.view-sort{
    display: flex;
    width: 8vw;
    justify-content: space-between;
    margin-left:65vw ;

}
.view-sort span{
    padding-left: 15px;
}

.file-one {
  grid-area:one;

}

.files-container{
  width: 100%;
  display: grid;
  grid-template-areas: 'one two three' 
                       'four five six'
                       ;
  grid-gap: 15px;
  margin: 4vw 0;
}
.size{
    width: 25vw;
}
.size h3{
    padding-top: 3vh;
}
.file-button{
display: flex;
justify-content: space-between;
width: 18vw;
margin-bottom: 10vh;
}

.file-button button{
border: none;
border-radius: 5px;
background-color: #0066FF;
width: 8.2vw;
height: 6vh;
color: #e7e9eb;
}
.size img{
    width: 18vw;
}
.head{
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    margin-right: 4vw;
}
#activity{
    margin-top: 9vh;
    /* margin-left: 100px; */
    /* padding-left: 9vw; */
    padding-bottom: 15vh;
    height: fit-content;
}
.tag h1{
    font-size: 3rem;
    margin: 2vh 4vw;
}
img.search-bar{
    position: relative;
    left: 20px;
}
input#search{
    margin-bottom: 17vh;
    width: 200px;
    height: 40px;
    padding-inline-start: 3vw;
    background: #F3F8FF;
    border: none;
    border-color: #F3F8FF;
    border-radius: 8px;
    /* margin-left: 10vw; */
}
.sort{
    display: flex;
    gap: 1%;
    /* justify-content: flex-end; */
    margin-left: 71vw;
    margin-bottom: 5vh;
}
.sort p{
    font-size: 18px;
    color:  #565F6C;
    padding-top: 2vh;
}
td.hr{
    padding: 0%;
}
tr.header{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color:  #565F6C;
}
.tableRows{
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #2B3748;
}
.format{
    display: flex;
    gap: 10px;
    margin-top: 0%;
    padding: 0%;
    margin-bottom: 1%;
}
table{
    width: 80%;
    border-collapse: collapse;
    border-style: none;
    border: hidden;
}
.table-container{
      padding-left: 4vw;
      width: 74vw;
}
th,
td {
    border: 1px solid white;
    /* border-collapse: collapse; */
    padding: 10px;
    text-align: left;
}

td {
    text-align: left;

}
tr{
    margin-top: 5em;
    

}