<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Open Email</title>
 <link rel="stylesheet" href="open_mail.css">
</head>
<body>
 <div class="open-mail">
<img class="email-icon" src="/proj_fetch_metadata_team_81/images/Group 79.svg" alt="">
<h1>Check your email</h1>
<h3>A password reset link has been<br> <span class="h3">sent to your email</span> </h3>
<p>Didn't recieve the email? <span class="click">click to resend</span></p>
 </div>
</body>
</html>