body{
 font-family: Arial, Helvetica, sans-serif;
}
.tick-icon{
 height: 10vh;
 width: 5vw;

}
.reset-password{
 margin: 0 auto;
 margin-top: 9%;
 display: flex;
 flex-direction: column;
 width: 45vw;
 justify-content: center;
 align-items: center;
}
.reset-password h1{
 font-size: 2.9vw;
 color: #2B3748;
 margin-bottom: 0;
}
.reset-password h3 {
 font-weight: normal;
 font-size: 2.2vw;
 color: #808791;
 margin-bottom: 0;
}
.h3{
 margin-left: 4vw;
}
.btn{
 border: none;
 font-size: 2vw;
 background-color: #0066FF;
 border-radius: 8px;
 color: #FFFFFF;
 height: 10vh;
 width: 14vw;
 margin-top: 5vh;
}


@media only screen and (max-width: 768px){
.reset-password{
 margin: 0 auto;
 margin-top: 25vh;
 display: flex;
 flex-direction: column;
 width: 75vw;
 justify-content: center;
 align-items: center;
}
.reset-password h1{
 font-size: 6.5vw;
 color: #2B3748;
}
.reset-password h3 {
 font-weight: lighter;
 font-size: 3.8vw;
}
.tick-icon{
 width: 18vw;
}
.btn{
 border: none;
 font-size: 5vw;
 background-color: #0066FF;
 border-radius: 8px;
 color: #FFFFFF;
 height: 6vh;
 width: 34vw;
 margin-top: 5vh;
}
}