<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Reset password</title>
 <link rel="stylesheet" href="reset-password.css">
</head>
<body>
 <div class="reset-password">
<img class="tick-icon" src="/proj_fetch_metadata_team_81/images/tick.svg" alt="">
<h1>Password reset</h1>
<h3>Your password has been successfully reset.<br> <span class="h3">Click continue to log in automatically</span></h3>
<button class="btn">Continue</button>
 </div>
 
</body>
</html>