@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;400;700&family=Lexend+Deca:wght@300;400&family=Open+Sans:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: 'Rubik', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first{
    text-align: center;
}

.second{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

img{
    width: 80px;
    height: 80px;
}

h4{
    font-size: 40px;
    font-weight: 700;
    color: #2B3748;
    line-height: 36px;
    margin: 30px 0 10px 0;
}

p{
    font-size: 24px;
    font-weight: 300;
    color:#AAAFB6;
    margin-top: 12px;

}


input, button{
    /* width: 100%; */
    width: 772px;
    font-size: 30px;
    border: 1px solid #2B3748;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px 0;
}

label{
    font-size: 30px;
    color: #010F23;
    font-weight: 450;
    line-height: 38px;
}

input{
    padding-left: 10px;
    margin: 30px 0;
    color: #AAAFB6;
    font-weight: 400;
}

button{
    background-color: #FFCC80;
    color: #2B3748;
    font-weight: 600;
    margin: 0;
    transition: 100ms;
}

button:hover{
    background: #FFCC80;
    border: 1px solid #2B3748;
    box-shadow: 0.5px 3px 5px rgba(0, 0, 0, 0.5);
}

/******Media queries*********/
@media screen and (max-width:900px){
    
    .first {
        width: 600px;
    }

    h4 {
        font-size: 30px;
    }
    
    input, button {
        width: 600px;
    }

    p {
       font-size: 22px;
       margin: 0;

        /* text-align: left; */
    }

    label, input, button {
        font-size: 22px;
    }

    input, button {
        padding: 10px 0;
        margin: 10px 0;
    }

}

@media screen and (max-width: 650px){
    .first {
        width: 500px;
    }

    input, button {
        width: 500px;
    }

    /* p {
        text-align: left;
    } */
}

@media screen and (max-width: 550px){
    .first {
        width: 400px;
    }

    input, button {
        width: 400px;
    }

    p {
        text-align: left;
    }
}