{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/verification.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
    <title>Email verification</title>
</head>

<body>
    <header>
        <div class="container">
            <div>
                <img src="images/metadrix Logo.png" alt="metadrix logo">
                <p class="para1">Hello, thanks for signing up.</p>
                <p class="para2">Please confirm your email to get full access to MetaDrix.</p>
                <a href="#">
                    <button>Verify email address</button>
                </a>
            </div>
        </div>
    </header>

</body>

</html>